<template>
  <div class="content">
    <div class="loading-container text-center" v-if="isLoading">
      <pulse-loader :loading="isLoading" size="30px"></pulse-loader>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <h3>
            <span v-if="$route.params.id == null">New Barber</span>
            <span v-else>{{ $route.params.id }}</span>
          </h3>
        </div>
      </div>

      <div class="row">
        <div class="col-6">
          <card>
            <form action="form">
              <div class="form-group text-center">
                <img
                  v-if="barber.image != null"
                  class="mb-2"
                  :src="barber.image"
                  width="200"
                  alt="Profile"
                />
                <img
                  v-else
                  class="mb-2"
                  src="img/default-avatar.png"
                  width="200"
                  alt="Profile"
                />
                <input
                  type="file"
                  accept="image/*"
                  id="image"
                  name="image"
                  class="form-control"
                  @change="ImageOnChanged"
                />
              </div>
              <div class="form-group">
                <label for="barber_name">Name</label>
                <input
                  v-model="barber.name"
                  type="text"
                  name="barber_name"
                  class="form-control"
                  id="barber_name"
                  required
                />
              </div>
              <div class="form-group">
                <label for="barber_phone">Phone</label>
                <input
                  v-model="barber.phone"
                  type="tel"
                  name="barber_phone"
                  class="form-control"
                  id="barber_phone"
                  required
                />
              </div>
            </form>
            <button class="btn btn-success btn-fill" v-on:click="SaveBarber">
              Save
            </button>
          </card>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { db, storage } from "@/firebase";
import PulseLoader from "vue-spinner/src/PulseLoader.vue";
export default {
  components: {
    PulseLoader,
  },
  data() {
    return {
      isLoading: false,
      publicPath: process.env.BASE_URL,
      imageUpload: null,
      UploadProgess: 0,
      barber: {
        name: null,
        phone: null,
        position: null,
        image: null,
      },
    };
  },
  methods: {
    async FetchBarberById() {
      if (this.$route.params.id == null) return;
      const barberRef = db
        .collection("Service/" + this.$route.params.serviceid + "/Barber")
        .doc(this.$route.params.id);
      const doc = await barberRef.get();
      this.barber.name = doc.data().name;
      this.barber.phone = doc.data().phone;
      this.barber.image = doc.data().image;

      console.log(this.barber.image);
    },
    BarberOnCreate() {
      db.collection("Service/" + this.$route.params.serviceid + "/Barber")
        .add({
          name: this.barber.name,
          phone: this.barber.phone,
          image: this.barber.image,
        })
        .then(() => {
          this.$swal({
            icon: "success",
            title: "Your work has been saved",
            showConfirmButton: false,
            timer: 1500,
          }).then(() => {
            this.$router.push({
              name: "ServiceManagementDetail",
              params: { id: this.$route.params.serviceid },
            });
          });
        });
    },
    BarberOnUpdate() {
      db.collection("Service/" + this.$route.params.serviceid + "/Barber")
        .doc(this.$route.params.id)
        .update({
          name: this.barber.name,
          phone: this.barber.phone,
          image: this.barber.image,
        })
        .then(() => {
          this.$swal({
            icon: "success",
            title: "Your work has been saved",
            showConfirmButton: false,
            timer: 1500,
          }).then(() => {
            this.$router.push({
              name: "ServiceManagementDetail",
              params: { id: this.$route.params.serviceid },
            });
          });
        });
    },
    SaveBarber() {
      this.$swal({
        title: "Are you sure?",
        text: "Do you want to save barber?",
        icon: "question",
        showCancelButton: true,
        confirmButtonText: "Yes",
      }).then((result) => {
        if (result.isConfirmed) {
          this.isLoading = true;
          if (this.imageUpload == null) {
            if (this.$route.params.id == null) {
              this.BarberOnCreate();
            } else {
              this.BarberOnUpdate();
            }
            this.isLoading = false;
          } else {
            const storageRef = storage
              .ref("imageBarber/" + this.imageUpload.name)
              .put(this.imageUpload);
            storageRef.on(
              "state_changed",
              (snap) => {
                this.UploadProgess =
                  (snap.bytesTransferred / snap.totalBytes) * 100;
              },
              (error) => {
                console.log(error.message);
                this.$swal({
                  icon: "error",
                  title: "Error",
                  text: error.message,
                  showConfirmButton: true,
                });
                this.$isLoading = false;
              },
              () => {
                this.uploadValue = 100;
                storageRef.snapshot.ref.getDownloadURL().then((url) => {
                  this.barber.image = url;
                  if (this.$route.params.id == null) {
                    this.BarberOnCreate();
                  } else {
                    this.BarberOnUpdate();
                  }
                  this.isLoading = false;
                });
              }
            );
          }
        }
      });
    },
    ImageOnChanged(event) {
      this.imageUpload = event.target.files[0];
      this.barber.image = URL.createObjectURL(this.imageUpload);
    },
  },
  mounted() {
    this.FetchBarberById();
  },
};
</script>

<style lang="scss" scoped></style>
