<template>
  <div class="login-wrapper">
    <div class="loading-container text-center" v-if="isLoading">
      <pulse-loader :loading="isLoading" size="30px"></pulse-loader>
    </div>
    <div class="login-container">
      <div class="login-title">
        SIGN IN
      </div>
      <form>
        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            v-model="email"
          />
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            class="form-control"
            id="password"
            name="password"
            v-model="password"
          />
        </div>
      </form>
      <div style="width:100%;text-align:center;">
        <button class="btn btn-primary btn-fill" @click="SignInOnClick">
          Sign in
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import { auth } from "@/firebase";
import PulseLoader from "vue-spinner/src/PulseLoader.vue";
export default {
  data() {
    return {
      isLoading: false,
      email: "",
      password: "",
    };
  },
  computed: {
    user() {
      return this.$store.getters.user.loggedIn;
    },
  },
  watch: {
    user(value) {
      console.log(value);
      if (value) {
        this.$router.push({
          name: "YourWork",
        });
      }
    },
  },
  methods: {
    SignInOnClick() {
      this.$store.dispatch("SignIn", {
        email: this.email,
        password: this.password,
      });
    },
  },
};
</script>

<style lang="scss" scoped>
.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: seagreen;
}
.login-container {
  width: 400px;
  height: auto;
  overflow: auto;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
}
.login-title {
  width: 100%;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 18px;
}
</style>
