<template>
  <div class="content">
    <div class="loading-container text-center" v-if="isLoading">
      <pulse-loader :loading="isLoading" size="30px"></pulse-loader>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <h3>
            <span v-if="$route.params.id == null">New Products</span>
            <span v-else>{{ $route.params.id }}</span>
          </h3>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 col-md-5">
          <card>
            <form action="form">
              <div class="form-group text-center">
                <img
                  v-if="product.image != null"
                  class="mb-2"
                  :src="product.image"
                  width="200"
                  alt="Profile"
                />
                <img
                  v-else
                  class="mb-2"
                  src="img/default-avatar.png"
                  width="200"
                  alt="Profile"
                />
                <input
                  type="file"
                  accept="image/*"
                  id="image"
                  name="image"
                  class="form-control"
                  @change="ImageOnChanged"
                />
              </div>
              <div class="form-group">
                <label for="product_name">Name</label>
                <input
                  v-model="product.name"
                  type="text"
                  name="product_name"
                  class="form-control"
                  id="product_name"
                  required
                />
              </div>
              <div class="form-group">
                <label for="product_property">Property</label>
                <input
                  v-model="product.property"
                  type="text"
                  name="product_property"
                  class="form-control"
                  id="product_property"
                  required
                />
              </div>
            </form>
            <button class="btn btn-success btn-fill" @click="SaveOnClick">
              Save
            </button>
          </card>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Card from "@/components/Cards/Card.vue";
import { db, storage } from "@/firebase";
export default {
  components: { Card },
  data() {
    return {
      isLoading: false,
      imageUpload: null,
      UploadProgess: 0,
      product: {
        id: "",
        name: "",
        property: "",
        image: "",
      },
    };
  },
  methods: {
    ProductOnCreate() {
      db.collection("Product")
        .add({
          name: this.product.name,
          property: this.product.property,
          image: this.product.image,
        })
        .then(() => {
          this.$swal({
            icon: "success",
            title: "Your product has been saved",
            showConfirmButton: false,
            timer: 1500,
          }).then(() => {
            this.$router.push({ name: "ProductManagement" });
          });
        });
    },
    ProductOnUpdate() {
      db.collection("Product")
        .doc(this.$route.params.id)
        .update({
          name: this.product.name,
          property: this.product.property,
          image: this.product.image,
        })
        .then(() => {
          this.$swal({
            icon: "success",
            title: "Your product has been saved",
            showConfirmButton: false,
            timer: 1500,
          }).then(() => {
            this.$router.push({ name: "ProductManagement" });
          });
        });
    },
    SaveOnClick() {
      this.$swal({
        title: "Are you sure?",
        text: "Do you want to save product?",
        icon: "question",
        showCancelButton: true,
        confirmButtonText: "Yes",
      }).then((result) => {
        if (result.isConfirmed) {
            this.$isLoading = true;
          if (this.imageUpload == null) {
            if (this.$route.params.id == null) {
              this.ProductOnCreate();
            } else {
              this.ProductOnUpdate();
            }
            this.$isLoading = false;
          } else {
            const storageRef = storage
              .ref("image/" + this.imageUpload.name)
              .put(this.imageUpload);
            storageRef.on(
              "state_changed",
              (snap) => {
                this.UploadProgess =
                  (snap.bytesTransferred / snap.totalBytes) * 100;
              },
              (error) => {
                console.log(error.message);
                this.$swal({
                  icon: "error",
                  title: "Error",
                  text: error.message,
                  showConfirmButton: true,
                });
                this.$isLoading = false;
              },
              () => {
                this.uploadValue = 100;
                storageRef.snapshot.ref.getDownloadURL().then((url) => {
                  this.product.image = url;
                  if (this.$route.params.id == null) {
                    this.ProductOnCreate();
                  } else {
                    this.ProductOnUpdate();
                  }
                  this.$isLoading = false;
                });
              }
            );
          }
        }
      });
    },
    async FetchProductById() {
      if (this.$route.params.id == null) return;
      const productRef = db.collection("Product").doc(this.$route.params.id);
      const doc = await productRef.get();
      this.product.name = doc.data().name;
      this.product.property = doc.data().property;
      this.product.image = doc.data().image;
    },
    ImageOnChanged(event) {
      this.imageUpload = event.target.files[0];
      this.product.image = URL.createObjectURL(this.imageUpload);
    },
  },
  mounted() {
    this.FetchProductById();
  },
};
</script>

<style lang="scss" scoped></style>
