<template>
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <card>
            <template slot="header">
              <div class="row">
                <div class="col-6">
                  <h4 class="card-title">Product Management</h4>
                </div>
                <div class="col-6 text-right">
                  <router-link
                    :to="{
                      name: 'ProductCreate',
                      params: { id: null },
                    }"
                    ><button class="btn btn-success btn-fill">
                      New
                    </button></router-link
                  >
                </div>
              </div>
            </template>
            <table class="table table-hover table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Image</th>
                  <th>Name</th>
                  <th>Property</th>
                  <th class="text-right">Tools</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(product, inx) in products" :key="inx">
                  <td>{{ inx + 1 }}</td>
                  <td>
                    <img height="60" :src="product.image" alt="" />
                  </td>
                  <td>{{ product.name }}</td>
                  <td>{{ product.property }}</td>
                  <td class="text-right">
                    <router-link
                      :to="{
                        name: 'ProductDetail',
                        params: { id: product.id },
                      }"
                    >
                      <button class="btn btn-info btn-fill">View</button>
                    </router-link>
                    <button
                      class="btn btn-danger btn-fill ml-3"
                      @click="DeleteOnclick(product.id)"
                    >
                      Delete
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </card>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import LTable from "@/components/Table.vue";
import Card from "@/components/Cards/Card.vue";
import { db } from "@/firebase";
export default {
  data() {
    return {
      products: [],
    };
  },
  methods: {
    FetchProducts() {
      db.collection("Product").onSnapshot((snap) => {
        this.products = [];
        snap.forEach((doc) => {
          let obj = {
            id: doc.id,
            name: doc.data().name,
            property: doc.data().property,
            image: doc.data().image,
          };
          this.products.push(obj);
        });
      });
    },
    DeleteOnclick(id) {
      this.$swal({
        title: "Are you sure?",
        text: "Do you want to delete this product?",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Yes, delete it!",
      }).then((result) => {
        if (result.isConfirmed) {
          db.collection("Product")
            .doc(id)
            .delete()
            .then(() => {
              this.$swal({
                icon: "success",
                title: "Your product has been deleted",
                showConfirmButton: false,
                timer: 1500,
              });
            });
        }
      });
    },
  },
  mounted() {
    this.FetchProducts();
  },
};
</script>

<style lang="scss" scoped></style>
