<template>
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <card>
            <template slot="header">
              <div class="row">
                <div class="col-6">
                  <h4 class="card-title">Service Management</h4>
                </div>
                <div class="col-6 text-right">
                  <router-link
                    :to="{
                      name: 'ServiceManagementCreate',
                      params: { id: null },
                    }"
                    ><button class="btn btn-success btn-fill">
                      New
                    </button></router-link
                  >
                </div>
              </div>
            </template>
            <div class="table-responsive">
              <table class="table table-hover table-striped">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col" style="text-align:right!important;">Tools</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(service, inx) in services" :key="inx">
                    <td>{{ inx + 1 }}</td>
                    <td>{{ service.name }}</td>
                    <td class="text-right">
                      <router-link
                        :to="{
                          name: 'ServiceManagementDetail',
                          params: { id: service.id },
                        }"
                      >
                        <button class="btn btn-info btn-fill">View</button>
                      </router-link>
                      <button
                        class="btn btn-danger btn-fill ml-3"
                        @click="DeleteOnclick(service.id)"
                      >
                        Delete
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </card>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import LTable from "@/components/Table.vue";
import Card from "@/components/Cards/Card.vue";
import { db } from "@/firebase";
export default {
  data() {
    return {
      services: [],
    };
  },
  methods: {
    FetchServices() {
      db.collection("Service").onSnapshot((snap) => {
        this.services = [];
        snap.forEach((doc) => {
          let obj = {
            id: doc.id,
            name: doc.data().name,
          };
          this.services.push(obj);
        });
      });
    },
    DeleteOnclick(id) {
      this.$swal({
        title: "Are you sure?",
        text: "Do you want to delete this service?",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Yes, delete it!",
      }).then((result) => {
        if (result.isConfirmed) {
          db.collection("Service")
            .doc(id)
            .delete()
            .then(() => {
              this.$swal({
                icon: "success",
                title: "Your serive has been deleted",
                showConfirmButton: false,
                timer: 1500,
              });
            });
        }
      });
    },
  },
  mounted() {
    this.FetchServices();
  },
};
</script>

<style lang="scss" scoped></style>
