<template>
  <div class="content">
    <div class="loading-container text-center" v-if="isLoading">
      <pulse-loader :loading="isLoading" size="30px"></pulse-loader>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <h3>
            <span v-if="$route.params.id == null">New Service</span>
            <span v-else>{{ $route.params.id }}</span>
          </h3>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 col-md-5">
          <card>
            <form action="form">
              <div class="form-group">
                <label for="service_name">Name</label>
                <input
                  v-model="service.name"
                  type="text"
                  name="service_name"
                  class="form-control"
                  id="service_name"
                  required
                />
              </div>
            </form>
            <button class="btn btn-success btn-fill" @click="SaveOnClick">
              Save
            </button>
          </card>
        </div>
        <div class="col-sm-12 col-md-7" v-if="$route.params.id != null">
          <card>
            <div class="row">
              <div class="col-12 text-right">
                <router-link
                  :to="{
                    name: 'BarberCreate',
                    params: {
                      serviceid: $route.params.id,
                    },
                  }"
                  ><button class="btn btn-success btn-fill">
                    New
                  </button></router-link
                >
              </div>
            </div>
            <table class="table">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Image</th>
                  <th>Name</th>
                  <th>Phone</th>
                  <th>Tools</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(barber, inx) in service.barbers" :key="inx">
                  <td>{{ inx + 1 }}</td>
                  <td><img width="30" :src="barber.image" /></td>
                  <td>{{ barber.name }}</td>
                  <td>{{ barber.phone }}</td>
                  <td>
                    <router-link
                      :to="{
                        name: 'BarberDetail',
                        params: {
                          serviceid: $route.params.id,
                          id: barber.id,
                        },
                      }"
                      ><button class="btn btn-info btn-fill">
                        View
                      </button></router-link
                    >
                    <button class="btn btn-danger btn-fill ml-3" @click="DeleteOnClick(barber.id)">Delete</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </card>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Card from "@/components/Cards/Card.vue";
import { db } from "@/firebase";
export default {
  components: { Card },
  data() {
    return {
      isLoading: false,
      service: {
        id: "",
        name: "",
        barbers: [],
      },
    };
  },
  methods: {
    async FetchServiceById() {
      const serviceRef = db.collection("Service").doc(this.$route.params.id);
      const doc = await serviceRef.get();
      this.service.id = this.$route.params.id;
      this.service.name = doc.data().name;
    },
    async FetchBarberByServiceId() {
      const barberRef = await db
        .collection("Service/" + this.$route.params.id + "/Barber")
        .onSnapshot((snap) => {
          this.service.barbers = [];
          snap.forEach((doc) => {
            this.service.barbers.push({
              id: doc.id,
              name: doc.data().name,
              phone: doc.data().phone,
              image: doc.data().image,
            });
            console.log(doc.data());
          });
        });
    },
    SaveOnClick() {
      this.$swal({
        title: "Are you sure?",
        text: "Do you want to save service?",
        icon: "question",
        showCancelButton: true,
        confirmButtonText: "Yes",
      }).then((result) => {
        if (result.isConfirmed) {
          this.isLoading = true;
          if (this.$route.params.id == null) {
            db.collection("Service")
              .add({
                name: this.service.name,
              })
              .then(() => {
                this.$swal({
                  icon: "success",
                  title: "Your service has been saved",
                  showConfirmButton: false,
                  timer: 1500,
                }).then(() => {
                  this.$router.push({ name: "ServiceManagement" });
                });
              });
          } else {
            db.collection("Service")
              .doc(this.$route.params.id)
              .update({
                name: this.service.name,
              })
              .then(() => {
                this.$swal({
                  icon: "success",
                  title: "Your service has been saved",
                  showConfirmButton: false,
                  timer: 1500,
                }).then(() => {
                  this.$router.push({ name: "ServiceManagement" });
                });
              });
          }
          this.isLoading = false;
        }
      });
    },
    DeleteOnClick(id) {
      this.$swal({
        title: "Are you sure?",
        text: "Do you want to delete this barber?",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Yes, delete it!",
      }).then((result) => {
        if (result.isConfirmed) {
          db.collection("Service/"+this.$route.params.id+"/Barber")
            .doc(id)
            .delete()
            .then(() => {
              this.$swal({
                icon: "success",
                title: "The barber has been deleted",
                showConfirmButton: false,
                timer: 1500,
              });
            });
        }
      });
    }
  },
  mounted() {
    this.FetchServiceById();
    this.FetchBarberByServiceId();
  },
};
</script>

<style lang="scss" scoped></style>
