<template>
  <div class="content">
    <div class="loading-container text-center" v-if="isLoading">
      <pulse-loader :loading="isLoading" size="30px"></pulse-loader>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <card>
            <template slot="header">
              <div class="row">
                <div class="col-6">
                  <h4 class="card-title">Your Works</h4>
                </div>
                <div class="col-6 text-right"></div>
              </div>
            </template>
            <table class="table table-hover table-striped">
              <thead>
                <tr>
                  <th>Customer</th>
                  <th>Barber</th>
                  <th>Date Time</th>
                  <th>Status</th>
                  <th class="text-right">Tools</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(booking, inx) in bookings" :key="inx">
                  <td>{{ booking.customer.name }}</td>
                  <td>{{ booking.barber.name }}</td>
                  <td>
                    {{
                      booking.dateTimeStart.getDate() +
                        "/" +
                        booking.dateTimeStart.getMonth() +
                        "/" +
                        booking.dateTimeStart.getFullYear() +
                        " " +
                        (booking.dateTimeStart.getHours() + "").padStart(
                          2,
                          "0"
                        ) +
                        ":" +
                        (booking.dateTimeStart.getMinutes() + "").padStart(
                          2,
                          "0"
                        )
                    }}
                    -
                    {{
                      booking.dateTimeStop.getDate() +
                        "/" +
                        booking.dateTimeStop.getMonth() +
                        "/" +
                        booking.dateTimeStop.getFullYear() +
                        " " +
                        (booking.dateTimeStop.getHours() + "").padStart(
                          2,
                          "0"
                        ) +
                        ":" +
                        (booking.dateTimeStop.getMinutes() + "").padStart(
                          2,
                          "0"
                        )
                    }}
                  </td>
                  <td>{{ booking.status }}</td>
                  <td>
                    <button
                      v-if="booking.status == 'Wait'"
                      class="btn btn-success btn-fill mr-2"
                      @click="AcceptOnClick(booking.id)"
                    >
                      Accept
                    </button>

                    <button
                      v-if="booking.status == 'Wait'"
                      class="btn btn-danger btn-fill mr-2"
                      @click="NotAcceptOnClick(booking.id)"
                    >
                      Not Accept
                    </button>

                    <button
                      v-show="booking.status == 'InProgress'"
                      class="btn btn-info btn-fill"
                      @click="FinishOnClick(booking.id)"
                    >
                      Finish
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </card>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import LTable from "@/components/Table.vue";
import Card from "@/components/Cards/Card.vue";
import { db } from "@/firebase";
export default {
  data() {
    return {
      isLoading:false,
      bookings: [
        {
          id:null,
          customer: {
            name: "",
          },
          barber: {
            name: "",
          },
          service: {
            name: "",
          },
          dateTimeStart: new Date(),
          dateTimeStop: new Date(),
          status: "",
        },
      ],
    };
  },
  methods: {
    FetchBookings() {
      db.collection("Booking").onSnapshot((snap) => {
        this.bookings = [];
        snap.forEach(async (doc) => {
          let obj = {
            id: doc.id,
            customer: null,
            barber: null,
            service: null,
            dateTimeStart: new Date(doc.data().dateTimeStart.seconds * 1000),
            dateTimeStop: new Date(doc.data().dateTimeStop.seconds * 1000),
            status: doc.data().status,
          };

          let custRef = db.collection("User").doc(doc.data().cusId);
          let custDoc = await custRef.get();
          obj.customer = custDoc.data();

          let barberRef = db
            .collection("Service/" + doc.data().serviceId + "/Barber")
            .doc(doc.data().barberId);
          let barberDoc = await barberRef.get();
          obj.barber = barberDoc.data();

          let serviceRef = db.collection("Service").doc(doc.data().serviceId);
          let serviceDoc = await serviceRef.get();
          obj.service = serviceDoc.data();

          this.bookings.push(obj);
          console.log(obj);
        });
      });
    },
    AcceptOnClick(id) {
      this.$swal({
        title: "Are you sure?",
        text: "Do you want to accept this work?",
        icon: "question",
        showCancelButton: true,
        confirmButtonText: "Yes",
      }).then((result) => {
        if (result.isConfirmed) {
          this.$isLoading = true;

          db.collection("Booking")
            .doc(id)
            .update({ status: "InProgress" })
            .then(() => {
              this.$isLoading = false;

              this.$swal({
                icon: "success",
                title: "This work has been accepted",
                showConfirmButton: false,
                timer: 1500,
              });
            });
        }
      });
    },
    FinishOnClick(id) {
      this.$swal({
        title: "Are you sure?",
        text: "Do you want to finish this work?",
        icon: "question",
        showCancelButton: true,
        confirmButtonText: "Yes",
      }).then((result) => {
        if (result.isConfirmed) {
          this.$isLoading = true;

          db.collection("Booking")
            .doc(id)
            .update({ status: "Finished" })
            .then(() => {
              this.$isLoading = false;

              this.$swal({
                icon: "success",
                title: "This work has been finished",
                showConfirmButton: false,
                timer: 1500,
              });
            });
        }
      });
    },
    NotAcceptOnClick(id) {
      this.$swal({
        title: "Are you sure?",
        text: "Do you want to cancel this work?",
        icon: "question",
        showCancelButton: true,
        confirmButtonText: "Yes",
      }).then((result) => {
        if (result.isConfirmed) {
          this.$isLoading = true;

          db.collection("Booking")
            .doc(id)
            .update({ status: "Canceled" })
            .then(() => {
              this.$isLoading = false;

              this.$swal({
                icon: "success",
                title: "This work has been Canceled",
                showConfirmButton: false,
                timer: 1500,
              });
            });
        }
      });
    }
  },
  mounted() {
    this.bookings = [];
    this.FetchBookings();
  },
};
</script>

<style lang="scss" scoped></style>
