<template>
  <div class="wrapper">
    <side-bar>
      <mobile-menu slot="content"></mobile-menu>
      <!-- <sidebar-link to="/admin/overview">
        <i class="nc-icon nc-chart-pie-35"></i>
        <p>Dashboard</p>
      </sidebar-link> -->
      <sidebar-link to="/admin/yourwork">
        <i class="nc-icon nc-scissors"></i>
        <p>Your Work</p>
      </sidebar-link>
      <sidebar-link to="/admin/service_management">
        <i class="nc-icon nc-single-02"></i>
        <p>Service Management</p>
      </sidebar-link>
      <sidebar-link to="/admin/product_management">
        <i class="nc-icon nc-cart-simple"></i>
        <p>Product Management</p>
      </sidebar-link>
      

      <template slot="bottom-links">

      </template>
    </side-bar>
    <div class="main-panel">
      <top-navbar></top-navbar>

      <dashboard-content @click="toggleSidebar">

      </dashboard-content>

    </div>
  </div>
</template>
<style lang="scss">

</style>
<script>
  import TopNavbar from './TopNavbar.vue'
  import ContentFooter from './ContentFooter.vue'
  import DashboardContent from './Content.vue'
  import MobileMenu from './MobileMenu.vue'
  export default {
    components: {
      TopNavbar,
      ContentFooter,
      DashboardContent,
      MobileMenu
    },
    methods: {
      toggleSidebar () {
        if (this.$sidebar.showSidebar) {
          this.$sidebar.displaySidebar(false)
        }
      }
    }
  }

</script>
